<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css">
    <title>FFXIV Profiler</title>
</head>
<body>
    <div class="content">
            <div class="hero-text">
                <div class="text-title">Welcome to the world of Eorzea.</div>
                <div class="text-subtitle">Fetch data from your Lodestone profile and display a profile card for Final Fantasy XIV</div>
            </div>
            <form action="/" method="POST">
                <div id="input-container"> 
                    <input type="text" id="name" name="name" placeholder="Enter Character Name"><br>
                    <input type="text" id="server" name="server" placeholder="Enter World Name"><br>
                    <input type="submit" id="button" name="form" value="Search" />
                </div>
            </form>
            </div>
    </div>
</body>
</html>