<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/resources/css/main.css">
    <title>FFXIV Profiler</title>
</head>
<body>
    <div class="header">
        <ul class="left-links">
            <div class="header-logo">
                <img src="/static/images/logo.png" alt="Logo for the game FFXIV">
                <li>Eorza Weekly</li>
            </div>
        </ul>
        <ul class="right-links">
            <li class="about"><a href="#">About</a></li>            
            <li class="classes"><a href="#">Classes</a></li>
            <li class="raids"><a href="#">Raids</a></li>
            <li class="download"><a href="#">Download</a></li>
        </ul>
    </div>
    <div class="hero-content">
        <div class="hero-container">
            <div class="hero-text">
                <div class="hero-title">Welcome to the world of Eorza.</div>
                <form action="/" method="POST">
                    <label for="name">Name: </label>
                    <input type="text" id="name" name="name"><br>
                    <label for="server">Server:</label>
                    <input type="text" id="server" name="server"><br>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
</body>
</html>